/* === Standard elements === */
body,table,select,input,button {
	font-family: "Times New Roman", Times, "serif";
	font-size: 12pt;
}

body {
	margin: 0;
}

pre {
	font-family: "Courier New", courier;
	font-size: 10pt;
}

input:focus {
	background-color: #ffffaa;
}

fieldset {
	border: 1px solid #777777;
}

a:link,a:active,a:visited {
	text-decoration: none;
	color: #000088;
}

a:hover {
	text-decoration: underline;
}

h1,h2,h3,h4 {
	font-family: Helvetica, Arial, "sans-serif";
	border: none;
	margin: 3px;
	padding: 3px;
	font-weight: normal;
	text-align: left;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 13pt;
}

h4 {
	font-size: 12pt;
}

p {
	margin: 3px;
	padding: 3px;
}

hr {
	color: #dddddd;
	background-color: #dddddd;
	height: 1px;
	border: 0;
}

table {
	border: none;
	padding: 0px;
	margin: 0px;
}

button img {
	vertical-align: middle;
}

a img {
	border: none;
}

/* === Components === */
form.inlineeditor-form {
	display: inline;
}

form.inlineeditor-form div.oneline > span {
	display: block;
	overflow: hidden;
	padding-right: 10px;
}

form.inlineeditor-form div.oneline input[type=text] {
	width: 100%;
}

form.inlineeditor-form div.oneline button {
	float: right;
}

/* === Icons links === */
a.edit {
	background-image: url("16x16/edit.png");
	background-repeat: no-repeat;
	padding-left: 18px;
	height: 16px;
}

/* === Header === */
div.header {
	background-color: #eeeeee;
	border-bottom: 1px solid #888888;
	margin: 0;
	padding: 0;
}

div.header div.logo {
	width: 120px;
	height: 24px;
	float: left;
	background-image: url("plantkelt_logo_hz24.png");
	background-repeat: no-repeat;
	background-position: 3px 0px;
}

div.header div.links {
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

div.header div.user {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

/* === Footer === */
div.footer {
	margin-top: 20px;
	border-top: 1px solid #888888;
}

div.footer p#copyright {
	float: right;
	font-size: 10pt;
	color: #888888;
}