/* === Standard elements === */
body,table,select,input,button {
	font-family: Helvetica, Arial, "sans-serif";
	font-size: 12pt;
}

body {
	margin: 0;
}

pre {
	font-family: "Courier New", courier;
	font-size: 10pt;
}

input:focus {
	background-color: #ffffaa;
}

fieldset {
	border: 1px solid #777777;
}

a:link,a:active,a:visited {
	text-decoration: none;
	color: #000044;
}

a:hover {
	text-decoration: underline;
	color: #000088;
}

h1,h2,h3,h4 {
	border: none;
	margin: 0px;
	padding: 2px;
	font-weight: bold;
	text-align: left;
}

h1 {
	font-size: 16pt;
}

h2 {
	font-size: 14pt;
}

h3 {
	font-size: 13pt;
}

h4 {
	font-size: 12pt;
}

p {
	margin: 0px;
	padding: 2px;
}

hr {
	color: #dddddd;
	background-color: #dddddd;
	height: 1px;
	border: 0;
}

table {
	border: none;
	padding: 0px;
	margin: 0px;
}

button img {
	vertical-align: middle;
}

a img {
	border: none;
}

div.clear {
	clear: both;
}

/* === Components === */
span.inlineeditor h1 {
	display: inline;
}

form.inlineeditor {
	display: inline;
}

form.inlineeditor div.oneline>span {
	display: block;
	overflow: hidden;
	padding-right: 10px;
}

form.inlineeditor div.oneline input[type=text] {
	width: 100%;
}

form.inlineeditor div.oneline button {
	float: right;
}

/* === Wicket autocomplete === */
div.wicket-aa {
	font-size: 10pt;
	background-color: white;
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: 2px;
	margin: 0 0 0 0;
	text-align: left;
}

div.wicket-aa ul {
	list-style: none;
	padding: 2px;
	margin: 0;
}

div.wicket-aa ul li {
	padding: 2px;
	margin: 0;
}

div.wicket-aa ul li.selected {
	background-color: #555555;
	color: white;
}

/* === Icons links === */
a.edit {
	background-image: url("16x16/edit.png");
	background-repeat: no-repeat;
	padding-left: 18px;
	height: 16px;
}

a.down {
	background-image: url("16x16/down-arrow.png");
	background-repeat: no-repeat;
	padding-left: 18px;
	height: 16px;
}

a.add {
	background-image: url("16x16/new.png");
	background-repeat: no-repeat;
	padding-left: 18px;
	height: 16px;
}

a.delete-small {
	background-image: url("12x12/delete.png");
	background-repeat: no-repeat;
	padding-left: 12px;
	height: 12px;
}

/* === Tags icons === */
span.tag_icon {
	background-repeat: no-repeat;
	padding-left: 22px;
}

span.tag_7 {
	background-image: url("20x20/tag_7.png");
}

span.tag_8 {
	background-image: url("20x20/tag_8.png");
}

span.tag_9 {
	background-image: url("20x20/tag_9.png");
}

span.tag_10 {
	background-image: url("20x20/tag_10.png");
}

span.tag_11 {
	background-image: url("20x20/tag_11.png");
}

span.tag_12 {
	background-image: url("20x20/tag_12.png");
}

/* === Header === */
div.header {
	background-color: #eeeeee;
	border-bottom: 1px solid #888888;
	margin: 0;
	padding: 0;
}

div.header div.logo {
	width: 120px;
	height: 28px;
	float: left;
	background-image: url("plantkelt_logo_hz24.png");
	background-repeat: no-repeat;
	background-position: 4px 4px;
}

div.header div.links {
	float: left;
	height: 24px;
	border-left: 1px solid #888888;
	padding-top: 4px;
	padding-left: 8px;
	padding-right: 8px;
}

div.header div.user {
	float: left;
	height: 24px;
	border-left: 1px solid #888888;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 8px;
}

/* === Content === */
div.content {
	padding: 4px;
}

/* === Footer === */
div.footer {
	margin-top: 20px;
	border-top: 1px solid #888888;
}

div.footer p#copyright {
	float: right;
	font-size: 10pt;
	color: #888888;
}

/* === Collapsible === */
a.collapsible-opened {
	background-repeat: no-repeat;
	background-image: url('16x16/opened.png');
	background-position: center;
	padding-left: 16px;
	height: 16px;
}

a.collapsible-closed {
	background-repeat: no-repeat;
	background-image: url('16x16/closed.png');
	background-position: center;
	padding-left: 16px;
	height: 16px;
}

/* === AKP === */
div.formPanel {
	background-color: #eeeeee;
	border-radius: 8px;
	padding: 4px;
	display: inline-block;
}

h3.langGroup {
	clear: both;
}

div.tagsSection {
	float: right;
	width: 20em;
	margin-right: 4px;
	margin-top: 4px;
	background-color: #eeeeaa;
	border-radius: 8px;
}

div.linksSection {
	float: right;
	margin: 4px;
}

div.plantRefsSection {
	
}

div.tagsSection button,div.tagsSection select,div.synonymsSection button,div.plantRefsSection button,div.plantControlSection button,div.plantControlSection select
	{
	font-size: 8pt;
}

div.classPath {
	font-size: 10pt;
}

div.lexicalGroup {
	background-color: #cccccc;
	width: 100%;
	border-radius: 4px;
	margin-bottom: 4px;
}

div.lexicalGroup div.langSection {
	float: left;
	width: 80px;
}

div.lexicalGroup div.vernaSection {
	margin-left: 80px;
	overflow: hidden;
	background-color: #eeeeee;
	border-left: 1px solid gray;
	padding: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	min-height: 1.5em;
}

div.lexicalGroup div.vernaSection span.verna {
	margin-right: 10px;
}

div.lexicalGroup div.vernaSection div.childrenList {
	margin-left: 1.5em;
	padding-left: 4px;
	border-left: 1px #888888 dotted;
}

div.lexicalGroup div.vernaSection form.addForm {
	display: inline;
}

div.lexicalGroup button {
	font-size: 8pt;
}

span.bibRef {
	border-radius: 4px;
	background-color: #333333;
	color: white;
	font-size: 8pt;
	font-weight: bold;
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 2px;
}

span.bibRef:hover {
	background-color: #777777;
}

span.bibRef a {
	color: white;
}

span.bibRef a:hover {
	
}

a.bibPopup {
	position: relative;
}

a.bibPopup:hover {
	background: none;
	z-index: 50;
}

a.bibPopup div.moreInfo {
	display: none;
}

div.moreInfo p.isbn {
	font-size: 12pt;
	font-family: monospace;
	font-weight: bold;
}

a.bibPopup:hover div.moreInfo {
	display: block;
	position: absolute;
	top: -10px;
	left: 40px;
	width: 400px;
	color: black;
	background: #eeeeaa;
	padding: 4px;
	z-index: 51;
	border-radius: 8px;
	box-shadow: 4px 4px 6px 2px #888888;
}

span.plantRef {
	border-radius: 4px;
	background-color: #eeeeaa;
	font-size: 10pt;
	max-width: 20em;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 2px;
	margin-right: 2px;
}

span.plantRef:hover {
	background-color: #cccc88;
}

span.bibAdder {
	margin-left: 2px;
}

form.bibAdder {
	margin-left: 2px;
	display: inline;
}

form.bibAdder input {
	font-size: 10pt;
}

span.vernaComment {
	margin-left: 10px;
}

form.plantRefAdder input {
	font-size: 10pt;
}

.tag {
	font-family: "Times New Roman", Times, "serif";
	font-style: italic;
	color: #335577;
}

.taxon {
	font-family: "Times New Roman", Times, "serif";
	font-weight: normal;
}

.taxon span.epsilon {
	color: #008800;
}

.taxon span.epsilon3 {
	color: #880000;
}

.taxon span.author {
	color: #000088;
}

.taxon span.wrong-author {
	background-color: red;
}

.verna {
	
}

.comments {
	font-family: "Times New Roman", Times, "serif";
	font-style: italic;
	color: #775533;
}

table.listing {
	border-collapse: collapse;
	font-size: 10pt;
	width: 100%;
}

table.listing thead th {
	background-color: #cccccc;
	text-align: left;
}

table.listing tr {
	
}

table.listing tr.even {
	background-color: #ccffcc;
}

table.listing td,table.logs th {
	
}

table.logs span.newValue {
	display: block;
	width: 100%;
	min-height: 1em;
	border-bottom: 1px dashed #888888;
}

table.logs span.oldValue {
	display: block;
	width: 100%;
	min-height: 1em;
}

table.searchResults tr:hover {
	background-color: #ffffaa;
}